@font-face {
    font-family: 'sai';
    src: url(./fonts/sailec-bold.ttf);
}

@font-face {
    font-family: 'tit';
    src: url(./fonts/TitilliumWeb-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: rgba(102, 102, 102, 0.85);
    font-family: tit;
}

header {
    padding: 28px 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 22px;
}

nav a {
    font-family: 'Sailec';
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data {
    width: 545px;
    margin-left: 175px;
    padding: 76.7px 8px 93.69px 15px;
}

h1 {
    margin-bottom: 20px;
    font-family: Sai;
    font-weight: 400;
    font-size: 48px;
    line-height: 58.08px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
}

#academy img {
    margin-right: 120px;
} 

#about {
    margin-top: 30px;
}

#about img {
    margin-left: 120px;
    margin-right: 10px;
}

h2 {
    font-family: 'sai';
    font-weight: 400;
    font-size: 36px;
    line-height: 43.56px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
}

#about p {
    margin-top: 15px;
    margin-bottom: 21px;
}

.blue {
    color: #1d6ff3;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0.25px;
}

.data2 {
    width: 458px;
    margin-right: 247px;
}

.data2 h2 {
    width: 437px;
}

.data3 {
    width: 500px;
    margin-right: 45px;
    margin-left: 190px;
}

.data3 p {
    margin-top: 20px;
    margin-bottom: 52px;
}

#work img {
    margin-right: 120px;
}

#blog {
    max-width: 1060px;
    margin: 0 195px;
    flex-direction: column;
    align-items: start;
    margin-bottom: 80px;
}

.wrap {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 280px;
    height: 245px;
    padding: 20px 20px 15px 20px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #fff;
    border: 1px solid black;
}

h3 {
    font-family: 'sai';
    font-weight: 400;
    font-size: 24px;
    line-height: 31.2px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
}

.text p {
    font-size: 16px;
    line-height: 25.6px;
}

#startLearning {
    padding: 30px 180px 81px;
    background-color: #EEE;
}

.cont {
    min-width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.start p {
    width: 463px;
    margin-top: 18px;
}

.start h2 {
    margin-top: 49px;
}

.cont form {
    margin-bottom: 23px;
    display: flex;
    align-items: center;
}

.cont input {
    width: 300px;
    height: 44px;
    padding-left: 7px;
    color: #979797;
    border-color: #979797;
}

.cont button {

    margin-left: -1px;
    background-color: #1D6FF3;
    padding: 0 23px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    border: 1px solid rgba(0, 0, 0, 0.05)
}

footer {
    padding: 50px 195px 100px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.fblock {
    width: 240px;
}

h4 {
    margin-bottom: 16px;
    font-family: 'Sailec';
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #4A4A4A;
}

.ful {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ful a {
    font-family: 'Tit';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
}

.grey {
    margin-top: 21px;
    width: 30px;
    height: 3px;
    background-color: rgba(0,0,0,0.1);
}

.soc {
    display: flex;
    gap: 9px;
    align-items: end;
}